<!DOCTYPE html>
<html>
  <head>
    <title>Robinhood</title>
    <link rel = "icon" href = 'assets/images/bt_icon.ico' >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </head>

  <body>
    <script type="text/javascript">
        window.btLogo = "<%= image_url('bt_icon.ico') %>";
        window.signup_img = "<%= image_url('clay-banks-NPlMmVsC40I-unsplash.jpg') %>"
    </script>
    <%= yield %>
  </body>
</html>
