<!DOCTYPE html>
<html>
  <head>
    <title>BulleTrades</title>
    <link rel = "icon" href = 'assets/images/bt_icon.ico' >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:title" content="Bulletrade" />
    <meta property="og:image:secure" content="https://i.imgur.com/IwWCAS5.png" />
    <meta property="og:description"
    content="BulleTrades is a full stack web application inspired by Robinhood. BulleTrades allows users to personalize their account by having them create an account and protect them with a session token and password that is never saved or displayed to other users. As a customer, you have the ability to search for any ticker and make real time buy and sell orders that will impact your overall buying power." />
    <meta property="og:url" content="http://robins-app.herokuapp.com/#/" />
    <meta name="twitter:card" content="summary_large_image">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel = "icon" type = "imgage/png" href = "<%= image_url('bt_icon.ico') %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </head>

  <body>
    <script type="text/javascript">
        window.btLogo = "<%= image_url('bt_icon.ico') %>";
        window.btLogoDark = "<%= image_url('bt_icon_dark.ico') %>";
        window.signup_img = "<%= image_url('clay-banks-NPlMmVsC40I-unsplash.jpg') %>"
    </script>
    <%= yield %>
  </body>
</html>
